/* Estil general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Encapçalaments */
h1 {
    text-align: center;
    background-color: #007236; /* Verd corporatiu UAB */
    color: white;
    padding: 20px;
    margin: 0 0 20px;
}

h2 {
    color: #007236; /* Verd corporatiu UAB */
    margin: 20px 40px; /* Més espai lateral */
    text-align: left; /* Aliniació a l'esquerra */
}

h3 {
    margin: 15px 40px; /* Més espai lateral */
    color: #A25127; /* Marró corporatiu UAB */
}

/* Paràgrafs */
p {
    margin: 10px 40px; /* Més espai lateral */
    background-color: white;
    padding: 10px;
    border-left: 5px solid #007236; /* Verd corporatiu UAB */
    border-radius: 5px;
}

/* Paràgrafs destacats */
.parell {
    background-color: #eaf6fc;
    border-left-color: #A25127; /* Marró corporatiu UAB */
}

#aquest {
    font-weight: bold;
    background-color: #dff7e1;
    border-left-color: #007236; /* Verd corporatiu UAB */
}

/* Llista */
ul#llista {
    margin: 20px 40px; /* Més espai lateral */
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style: none; /* Treure els punts */
}

ul#llista li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f1f8fe;
    border: 1px solid #cce7f7;
    border-radius: 3px;
    font-size: 16px;
    text-align: left; /* Assegura l'alineació a l'esquerra */
    color: #333;
}

ul#llista li:hover {
    background-color: #dbefff; /* Color més clar en passar el ratolí */
}


/* Botons */
button {
    background-color: #007236; /* Verd corporatiu UAB */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 40px; /* Espai lateral ajustat */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #A25127; /* Marró corporatiu UAB */
}

/* Amagar paràgraf */
.hidden {
    display: none;
}

/* Contenidor principal */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
